/* Styles for Mobile devices */
.container {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  margin: 0 24px;
  margin-bottom: 24px;
  padding: 20px 16px;
  border-radius: 12px;
  box-shadow: 0 0 8px 16px rgba(0, 0, 255, 0.1);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    margin: 0 32px;
    margin-bottom: 32px;
    padding: 32px 20px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1024px) {
  .container {
    min-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 32px 48px;
  }
}
